*{ margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}

.center_body{
    transition: all 0.5s linear;

}
.center_body img{
    transition: all 1s linear;
}


.center_body h2{
    color: #40bca8;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.center_body p{
    color: #40bca8;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
}

#btn_principal{
    transition: .4s;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    background: #40bca8;
    padding: 15px 30px;
    box-shadow: 5px 4px 15px -5px #0046d5;
    border-radius: 40px;
}

#btn_principal:hover{
    color: #40bca8;
    background: white;
}