table {
    border-radius: 5px;
    -moz-border-radius: 7px;
    width: 28%;
    border-collapse: separate;
}
table,th,td {
    border: 1px solid #000;
}
h2 {
    text-align: center;
}
h2,h3,th,td {
    color: #000;
}
p {
    font-size: 14px;
    color: #000;
}
.logo img{
    margin-top: 5em;
    position: absolute;
    float: left;
    width: 30%;
    height: 30%;
}

.right{
    width:40%;
    float: right;
}
.left{
    width:40%;
    float: left;
}

#datos_fac{
    text-align: center;
    position:relative;
}

.page-break {
    page-break-after: always;
}

.firmas {
    margin-top:50px;
    width:100%;
}