<template lang="pug" src="./mainindex.pug">
</template>

<script src="./mainindex.js">
    
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped src="./mainindex.css">
</style>
